<div class="row clearfix">
  <div class="col-md-6">
    <h1>Contact Files</h1>
  </div>
  <div class="col-md-6">
    <%= link_to "Import file", new_contact_file_path, class: "button btn-lg btn-primary text-decoration-none float-end" %>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>File name</th>
      <th>Status</th>
      <th>Log</th>
    </tr>
  </thead>
  <tbody>
    <% @contact_files.each do |contact_file| %>
      <tr>
        <td><%= contact_file.file.filename %></td>
        <td><%= contact_file.status %></td>
        <td><%= contact_file.log %></td>
      </tr>
    <% end %>
  </tbody>
</table>
